<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <h4><i class="bi bi-clock-history"></i> Horarios de Atención</h4>                  
            <div class="contact-item hours">
                <p>
                    <strong>Lunes a Viernes</strong><br>
                    6:30 AM - 6:00 PM
                </p>
                <p>
                    <strong>Sábados</strong><br>
                    9:00 AM - 2:00 PM
                </p>
            </div>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
            <h4>Contacto</h4>
            <ul class="list-unstyled">
            <li><i class="bi bi-whatsapp"></i> <a href="https://wa.me/524522018336"
                    target="_blank" class="text-white">452-201-8336</a></li>
            <li><i class="bi bi-envelope-at"></i> <a href="mailto:papeleria@xplaya.com" class="text-white">papeleria@xplaya.com</a></li>
            <li><i class="bi bi-tiktok"></i> <a 
                    href="https://www.tiktok.com/@papeleria.xplaya.com"
                            target="_blank" class="text-white"> @papeleria.xplaya.com</a></li>
            <li><a
                    href="https://maps.app.goo.gl/MAboYSrPtfU148ca7"
                    class="text-white">Ubicación <i class="bi bi-geo-alt"></i> </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="navbar navbar-dark navbar-custom shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
        <img
            src="/img/papeleria.png"
            alt="Logo Papelería y Mercería xPlaya"
            width="200" height="32"
        />
        </a>
        
        <cart-status></cart-status>

        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
</header>
<main>
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Papelería, mercería y copias</h1>
        <p class="lead text-body-secondary">
            Contamos con <strong><i class="bi bi-wifi"></i> WIFI gratis</strong> para que nos envíes tus documentos a imprimir. Copias e impresiones <strong>$1 peso</strong> blanco y negro.  
        </p>
        <p>
            <a href="https://wa.me/524522018336"                        
                    target="_blank" class="btn btn-whatsapp my-2"><i class="bi bi-whatsapp"></i> 452-201-8336</a>
            <a href="https://www.tiktok.com/@papeleria.xplaya.com"
                    target="_blank" class="btn btn-tiktok my-2"><i class="bi bi-tiktok"></i> Síguenos</a>
            <a href="https://maps.app.goo.gl/MAboYSrPtfU148ca7" class="btn btn-location" target="_blank">
                <i class="bi bi-geo-alt"></i> Cómo llegar
            </a>
        </p>
        </div>
    </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<footer class="text-body-secondary py-5">
    <div class="container">
    <p class="float-end mb-1"><a href="#">Ir arriba <i class="bi bi-arrow-up-circle"></i></a></p>
        <div class="row">
            <div class="col">
            <h5>          
                    Playa del Carmen
                </h5>
                <p class="mb-0">
                    Villas del Sol, a un costado de Palmas Turquesa
                </p>
            <p>
                <a href="https://maps.app.goo.gl/MAboYSrPtfU148ca7">
            Ubicación <i class="bi bi-geo-alt"></i>
                </a>
            </p>
            </div>
            <div class="col">
            <h5>
                Servicios
            </h5>
            <ul>
                <li>
            <a href="https://www.tiktok.com/@papeleria.xplaya.com/video/7493585479883853061">
                Copias e impresiones
            </a>
                </li>
                <li>Trámites</li>
                <li>
            <a href="https://www.tiktok.com/@papeleria.xplaya.com/video/7511854104520428807">
                Engargolados
            </a>
                </li>
                <li>
            <a href="https://www.tiktok.com/@papeleria.xplaya.com/video/7572718753390071060">
                Enmicados
            </a>	
                </li>
                <li>
            <a href="https://www.tiktok.com/@papeleria.xplaya.com/video/7474971287497002247">
                Escáner
            </a>		
                </li>
                <li>
            <a href="https://contactoxplaya.pages.dev/material-didactico.html" target="_blank">
                Material didáctico
            </a>
                </li>
            </ul>
            </div>
            <div class="col">
            <h5>
                Más servicios
            </h5>
            <ul>
                <li><a href="https://www.tiktok.com/@papeleria.xplaya.com/video/7576027267910880533">Arreglos de ropa👗</a>, cierres, dobladillos</li>
                <li>
            Ponemos tu menú en un
            <a href="https://contactoxplaya.pages.dev/codigoqr">
                código QR <i class="bi bi-qr-code"></i>
            </a>
                </li>
                <li>Páginas web <i class="bi bi-database"></i> programación <i class="bi bi-laptop"></i></li>
            </ul>
            </div>
        </div>        
    </div>
</footer>
